.footer {
  background-color: $color-black-russian;
  color: $color-default-white;
  padding: 35px 0;

  @include vp-1199 {
    padding: 40px 0;
  }

  @include vp-767 {
    padding: 53px 0;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  transform: translate(-1px, 3px);
}

.footer__logo svg {
  margin-top: 6px;

  @include vp-1199 {
    width: 82px;
    height: 18px;
    margin-top: 0;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
    margin-bottom: -20px;
  }
}
