.slider-control__button {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  width: 20px;
  height: 40px;
  background: transparent;
  color: $color-dark-gray;
  border: none;
  top: 65%;

  @include vp-767 {
    svg {
      width: 12px;
      height: 21px;


    }
  }

  @include hover-focus {
    filter: drop-shadow(0 0 4px $color-resolution-blue);
    color: $color-resolution-blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.slider-control__button--prev svg {
  transform: rotate(180deg);
}
