.staff {
  background-color: $color-default-white;
  color: $color-sapphire;
  padding-top: 50px;
  padding-bottom: 141px;

  @include vp-1199 {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.staff .container {
  max-width: 1294px;
}

.staff__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 49px;
  padding-right: 49px;

  @include vp-1199 {
    padding-left: 56px;
    padding-right: 56px;
  }

  @include vp-767 {
    padding: 30px 32px;
  }
}

.staff__wrapper h2 {
  margin: 0 0 48px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    display: flex;
    justify-content: center;
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 32px -5px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.staff__item {
  width: 260px;
  height: auto;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
  }

  &:hover,
  &:focus-within {
    background-color: rgba($color-sapphire, 0.89);
  }
}

.staff__slider {
  max-width: 1160px;
  width: 100%;
}

.staff__slider-control {
  @include vp-1199 {
    position: absolute;
    top: 61%;
    left: 4%;
    right: 4%;
  }

  @include vp-767 {
    top: 61.5%;
    left: 0%;
    right: 0%;
  }
}
